<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
    link(rel='stylesheet', href='./styles/home.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='./scripts/home.js')
    title ySpace | YourSpace
  body(onload="init()")
    main(class="main__container")
      nav(class="nav")
        div(class="nav-border border")
        div(class="nav-item")
          div(class="nav-icon-border")
            img(class="nav-icon")
          p(class="nav-text") test
        div(class="nav-item")
          div(class="nav-icon-border")
            img(class="nav-icon")
          p(class="nav-text") test
        div(class="nav-item")
          div(class="nav-icon-border")
            img(class="nav-icon")
          p(class="nav-text") test
        div(class="nav-item")
          div(class="nav-icon-border")
            img(class="nav-icon")
          p(class="nav-text") test
        div(class="nav-item")
          div(class="nav-icon-border")
            img(class="nav-icon")
          p(class="nav-text") test
        div(class="nav-item")
          div(class="nav-icon-border")
            img(class="nav-icon")
          p(class="nav-text") test
        div(class="nav-item")
          div(class="nav-icon-border")
            img(class="nav-icon")
          p(class="nav-text") test
        div(class="nav-item")
          div(class="nav-icon-border")
            img(class="nav-icon")
          p(class="nav-text") test
      section(class="main-content")
        div(class="main-content__create-post")
          div(class="create-post__options")
          textarea(class="create-post__input" placeholder="What's on your mind?")
          button(class="create-post__submit") Post
        div(class="main-content__feed box")
          div(class="feed__data")
          div(class="feed__end") Oops! looks like you don't have anymore posts to see. 
      section(class="profile-data")
        div(class="profile-border border")
        div(class="profile-img-container")
          img(class="profile-img")
        div(Class="profile-username")
        button(class="profile-data__your-profile" onclick="window.location.href='./profile'") Your Profile
          span(class="arrow")
          

    