doctype html
html    
    head
        meta(charset="utf-8")
        link(rel='stylesheet', href='./styles/landing.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='./scripts/landing.js')
        title ySpace | YourSpace
    body
      main(class="main")
        section(class="main__content")
          div(class="border-elem")
          div(class="main__content-modal")
            h1(class="welcome-phrase") Welcome to YSPACE
            div(class='form-container') 
              form(class="form-container__login")
                input(type='email', id='login-email', class='input', value='', placeholder="Email")
                input(type='password', id='login-password', class='input', value='',placeholder="Password")
                button(type="button", class="login-submit", value='login', onclick='login()') Login
              form(class="form-container__signup hidden")
                input(type='text', id='signup-username', class='input', value='',placeholder="Username")
                input(type='email', id='signup-email', class='input', value='',placeholder="Email")
                input(type='password', id='signup-password', class='input', value='',placeholder="Password")
                button(type="button", class="signup-submit", value='signup', onclick='signup()') Signup

          div(class="prompt") 
            span(class="prompt-text") Don't have an account? 
            span(class="prompt-btn") Signup
          