doctype html
html    
    head
        meta(charset="utf-8")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
        link(rel='stylesheet', href='./styles/profile.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='./scripts/profile.js')
        title ySpace | YourSpace
    body(onload="init()")
      main(class="main")
        div(class="container")
          div(class="profile-info")
            div(class="profile-picture-border")
              img(src="./images/landing-image.jpg" alt="profile picture" class="profile-picture")
            p(class="profile-username") 
            p(class="profile-email") 
          div(class="edit-toolbar")
          div(class="user-posts")
          
          